---
import Layout from "../layouts/Layout.astro";
const images = [
  "https://media.themoviedb.org/t/p/w1000_and_h563_face/5OsiT39OiZNdD0v2LiAcI2TpSYj.jpg",
  "https://media.themoviedb.org/t/p/w1000_and_h563_face/r9KaBE7i4ovg8uSppQrCp6ZdPD9.jpg",
  "https://media.themoviedb.org/t/p/w1000_and_h563_face/npD65vPa4vvn1ZHpp3o05A5vdKT.jpg",
  "https://media.themoviedb.org/t/p/w1000_and_h563_face/8hQA04JLNolV9xfvMkaYg3Hg08w.jpg",
  "https://media.themoviedb.org/t/p/w1000_and_h563_face/9xDCTGhEWpz206PCiimRGmK67rV.jpg",
  "https://media.themoviedb.org/t/p/w1000_and_h563_face/rjAQsvG6d07DXhBi6Gzk06EIIzP.jpg",
  "https://media.themoviedb.org/t/p/w1000_and_h563_face/iemgmESTakK5gYmTiZM3p8WIRXv.jpg",
  "https://media.themoviedb.org/t/p/w1000_and_h563_face/1zretcyivW6hxynMI3jYTu0zonP.jpg",
];
---

<Layout
  title="Anderson Productions"
  category=""
  description=""
  keywords=""
  openGraph={{
    title: "",
  }}
  twitter={{
    card: "summary_large_image",
  }}
  nav_pos="left"
  bg="white"
>
  <section>
    <div>
      <h1 class="text-7xl w-full text-center py-7 font-extenda_light uppercase">Anderson Productions</h1>
      <div class="flex flex-col sm:flex-row sm:h-[101vh] overflow-clip">
        <div class="sm:w-[60vw] sm:h-[101vh]">
          <img
            class="w-full h-full object-cover"
            src="https://images.squarespace-cdn.com/content/v1/677a9e04abef6d1638cd4f53/a6333c02-c4f9-4a58-8ffc-2a9efb883cee/DSC_6495.jpg?format=2500w"
            alt=""
          />
        </div>
        <div class="py-4 sm:pt-0 sm:w-[40vw] flex flex-col">
          <div class="px-7">
            <h2 class="text-3xl uppercase">
              Dublin-BASED PHOTOGRAPHy BY thibaut anderson
            </h2>
            <p class="text-xl">
              \
              Anderson Productions is the creative powerhouse led by
              photographer, director, writer, and presenter, Thibaut Anderson.
              Specialising in sports and nature photography, Thibaut captures
              the essence of movement and freedom, with an eye for detail and a
              passion for storytelling. Recently, Anderson Productions has been
              expanding to discover opportunities in the videography world,
              creating two short films that are available on our YouTube
              channel.
            </p>
          </div>
          <div class="mt-auto">
            <img
              src="https://images.squarespace-cdn.com/content/v1/677a9e04abef6d1638cd4f53/fb87455e-7a0d-4289-be47-24715fc86f22/DSC_2864.jpg?format=2500w"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Slider main container -->
  <section class="h-[62vh] p-8">
    <div class="swiper h-full">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->

        {
          images.map((e) => {
            return (
              <div class="swiper-slide h-full w-full">
                <img src={e} alt="" class="h-full w-full object-cover" />
              </div>
            );
          })
        }
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button swiper-button-prev"></div>
      <div class="swiper-button swiper-button-next"></div>
    </div>
  </section>
</Layout>
<script>
  import Swiper from "swiper";
  import { Navigation, Pagination } from "swiper/modules";
  import "swiper/css/bundle";

  export const swiperConfig = {
    modules: [Navigation, Pagination],
    // Optional parameters
    loop: true,
    slidesPerView: 3,
    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  };

  const swiper = new Swiper(".swiper", swiperConfig);
</script>
