---
import { getCollection } from "astro:content";
import HomeHero from "../components/HomeHero.astro";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

const work = await getCollection("work");
function pubdate(pubDate: string): Date {
    const v = pubDate.split("-");
    const d = new Date(+v[2], +v[1], +v[0]);
    return d
}

const works = work.sort((a, b) => pubdate(a.data.pubDate).getTime() - pubdate(b.data.pubDate).getTime()).reverse()
---

<Layout
  title="Anderson Productions"
  category=""
  description=""
  keywords=""
  openGraph={{
    title: "",
  }}
  twitter={{
    card: "summary_large_image",
  }}
  nav_pos="left"
  bg="white"
>
    <section id="introduction" class="flex flex-col bg-orange_web text-white_smoke justify-center items-center text-center"
      style="height: 100vh;"
    >

    <div class="flex-1 px-10">
      <h1 class="text-center text-4xl lg:text-8xl uppercase font-extenda_headings">
        Who are<br />Anderson Productions?
      </h1>

      <p class="px-10" style="font-size: 1.75rem;">
        Anderson Productions is the creative powerhouse led by photographer,
        director, writer, and presenter, Thibaut Anderson. Specialising in
        sports and nature photography, Thibaut captures the essence of
        movement and freedom, with an eye for detail and a passion for
        storytelling.
      </p>
    </div>

    <div style="text-align: centre">
        <img src="/2024/02.jpeg" alt="" width="300" />
    </div>

  <main class="pt-32">
    </main>
</section>

    <section id="recents" class=" bg-night text-white_smoke">
        <div class="marquee w-[100vw] flex flex-nowrap gap-20 py-5 overflow-clip">
        <h1 class="marquee flex-nowrap shrink-0 font-extenda_light text-5xl uppercase">Recent Projects</h1>
      </div>
      <div>
    {
      works.map((e)=>{
        console.log(e.data.title)
        return <ProjectCard slug={e.slug} title={e.data.title} image={e.data.image} tags={e.data.tags} />
  })
}
    </section>

    <section
      class="flex flex-col bg-night text-white_smoke justify-center items-center text-center"
      style="height: 100vh;"
    >
      <h1 class="text-center text-3xl lg:text-8xl uppercase font-extenda_headings">
        Interested in working<br />together
      </h1>
      <h2>
        DM us <span class="uppercase">
          <a href="https://instagram.com/and3rsonproductions"
            >@and3rsonproductions</a
          >
        </span>
      </h2>
    </section>
  </main>
</Layout>
<script>
  import MarqueeContent from "marquee-content";
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/all";
  gsap.registerPlugin(ScrollTrigger);
  //@ts-expect-error
  MarqueeContent.registerGSAP(gsap, ScrollTrigger);

  document.querySelectorAll(".marquee").forEach((element) => {
    const marquee = new MarqueeContent({
      //@ts-expect-error
      element
    });

    marquee.init();
  });
</script>
