---
import { getCollection } from "astro:content";
import HomeHero from "../components/HomeHero.astro";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

const work = await getCollection("work");
function pubdate(pubDate: string): Date {
    const v = pubDate.split("-");
    const d = new Date(+v[2], +v[1], +v[0]);
    return d;
}

const works = work
    .sort(
        (a, b) =>
            pubdate(a.data.pubDate).getTime() -
            pubdate(b.data.pubDate).getTime(),
    )
    .reverse();
---

<Layout
    title="Anderson Productions"
    category=""
    description=""
    keywords=""
    openGraph={{
        title: "",
    }}
    twitter={{
        card: "summary_large_image",
    }}
    nav_pos="left"
    bg="white"
>
    <section
        id="introduction"
        class="flex flex-col sm:flex-row bg-orange_web text-white_smoke justify-left text-left"
        style="min-height: 91vh;"
    >
        <div class="px-10 flex flex-col justify-center sm:pb-0 pb-5">
            <h1
                class="text-left text-4xl lg:text-8xl uppercase font-extenda_headings"
            >
                Who are <br /> we?
            </h1>
            <!-- <br/> -->
            <p class="px-10 sm:text-2xl text-lg">
                <br /> Anderson Productions is the creative powerhouse led by
                photographer, <br />
                director, writer, and presenter, Thibaut Anderson. Specialising in
                <br />
                sports and nature photography, Thibaut captures the essence of <br
                />
                movement and freedom, with an eye for detail and a passion for <br
                />
                storytelling. <br />
            </p>
        </div>
        <div class="w-full h-full">
            <img
                src=""
                alt=""
                class="w-full h-full object-cover"
            />
        </div>
    </section>

    <section id="recents" class="bg-night text-white_smoke">
        <div
            class="marquee w-[100vw] flex flex-nowrap gap-20 py-5 overflow-clip"
        >
            <h1
                class="marquee flex-nowrap shrink-0 font-extenda_light text-5xl uppercase"
            >
                Recent Projects
            </h1>
        </div>
        <div>
            {
                works.map((e) => {
                    console.log(e.data.title);
                    return (
                        <ProjectCard
                            slug={e.slug}
                            title={e.data.title}
                            image={e.data.image}
                            tags={e.data.tags}
                        />
                    );
                })
            }
        </div>

        <section
            class="flex flex-col bg-night text-white_smoke justify-center items-center text-center"
            style="height: 100vh;"
        >
            <h1
                class="text-center text-3xl lg:text-8xl uppercase font-extenda_headings"
            >
                Interested in working<br />together
            </h1>
            <h2>
                DM us <span class="uppercase">
                    <a href="https://instagram.com/and3rsonproductions"
                        >@and3rsonproductions</a
                    >
                </span>
            </h2>

            <h3>or email us at: and3rsonproductions@gmail.com</h3>
        </section>
    </section>
</Layout>

<script>
    import MarqueeContent from "marquee-content";
    import gsap from "gsap";
    import { ScrollTrigger } from "gsap/all";
    gsap.registerPlugin(ScrollTrigger);
    //@ts-expect-error
    MarqueeContent.registerGSAP(gsap, ScrollTrigger);

    document.querySelectorAll(".marquee").forEach((element) => {
        const marquee = new MarqueeContent({
            //@ts-expect-error
            element,
        });

        marquee.init();
    });
</script>
