---
import Layout from "../layouts/Layout.astro";


---
<Layout
title="Anderson Productions"
category=""
description=""
keywords=""
openGraph={{
  title: "",
}}
twitter={{
  card: "summary_large_image",
}}
nav_pos="left"
bg="white"
>
    <section>
        <div>
            <h1>PORTFOLIOS</h1>
            <p>It all begins with an idea.</p>
        </div>
    </section>
    <section>
        <div>OVERVIEWS:</div>
        <div>RECENT PROJECTS</div>
        <div>
    <div>
        GRID
    </div>
    <div>
        PROJECT DROPDOWNS
    </div>
    
        </div>
    </section>
</Layout>