---
import Layout from "../layouts/Layout.astro";


---
<Layout   title="Anderson Productions"
category=""
description=""
keywords=""
openGraph={{
  title: "",
}}
twitter={{
  card: "summary_large_image",
}}
nav_pos="left"
bg="white">
<section>
    <div>
        <div>
            <img src="https://images.squarespace-cdn.com/content/v1/677a9e04abef6d1638cd4f53/50b4416f-a899-4552-9501-d91063abf546/DSC_4312.JPG?format=2500w" alt="">
        </div>
        <div>
            <h2>sport’S pHOTOGRAPHY PACKAGE</h2>
            <hr/>
            <h4>STARTING AT €100</h4>
            <p>Anderson Productions offers an experienced, professional sport’s photography package for anyone seeking a photographer for all types of sporting events.</p>
        </div>
    </div>
</section>
<section>
    <div>
        <div>
            <img src="https://images.squarespace-cdn.com/content/v1/677a9e04abef6d1638cd4f53/c51aa29d-f438-4ca3-b3bb-1fd2619f3079/DSC_3836.JPG?format=2500w" alt="">
        </div>
        <div>
            <h2>EVENT PHOTOGRAPHY PACKAGE</h2>
            <hr/>
            <h4>STARTING AT €100</h4>
            <p>Anderson Productions offers a new package from 2025, willing to experiment at events (concerts, corporate events, shows, school events, parties) to expand our own portfolio, all whilst offering you an increasingly experienced service. No weddings.</p>
        </div>
    </div>
</section>
<section>
    <form action="">
        <h1>ENQUIRY FORM:</h1>
        <p>Please bear in mind that this form does not confirm any booking.</p>
        <p>You can also reach us through Instagram @and3rsonproductions, or by email to: and3rsonproductions@gmail.com</p>
        <fieldset>
            <legend>Package Interest (required)</legend>
            <select name="" id="">
                <option value="">Select an option</option>
                <option value="Sport's Photography">Sport's Photography</option>
                <option value="Event Photography">Event Photography</option>
            </select>
        </fieldset>
        <fieldset>
            <legend>Name (required)</legend>
            <div>
                <div>
                    <label for="">First Name</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Last Name</label>
                    <input type="text">
                </div>
            </div>
        </fieldset>
        <div>
            <label for="">Email
                (required)</label>
            <input aria-invalid="false" aria-required="true" autocomplete="false" placeholder="" type="email" value=""/>
        </div>
        <div>
            <label for="">Phone Number
                (required)</label>
            <input aria-invalid="false" aria-required="true" autocomplete="tel-national" placeholder="" type="text" value=""/>
        </div>
        <div>
            <label for="">Enquiry
                (required)</label>
                <p>Please make sure to provide as much information.</p>
            <input aria-invalid="false" aria-required="true"  placeholder="" type="text" value=""/>
        </div>
        <div>
            <label for="">Preferred Date</label>
            <input type="date">
        </div>
    </form>
</section>
</Layout>