<footer class="mt-12 border-t pt-4 text-center text-sm text-gray-600">
  <p>&copy; 2025 Anderson Productions. All rights reserved.</p>
  <div class="mt-2">
    <a href="https://instagram.com/andersonproductions" class="mx-2 hover:underline">Instagram</a>
    <a href="https://youtube.com/andersonproductions" class="mx-2 hover:underline">YouTube</a>
  </div>
</footer>

