---
import Logo from "./Logo.astro";
---

<footer
    class="flex justify-between flex-col text-night bg-coquelicot p-12"
    style="height: 100vh;"
>
    <div
        class="flex flex-col text-xl md:text-5xl gap-2 md:gap-6 pt-4 font-semibold"
    >
        <a class=" hover:underline" href="/">Services</a>
        <a class=" hover:underline" href="../#recents">Projects</a>
        <a class=" hover:underline" href="mailto:and3rsonproductions@gmail.com">Contact</a>
        <a class=" hover:underline" href="https://instagram.com/and3rsonproductions">Instagram</a>
        <a class=" hover:underline" href="https://youtube.com/@and3rsonproductions">Youtube</a>
    </div>
    <Logo />

</footer>
