---

---
<div style="position: absolute; right: 0;">
  <svg
    width="212"
    height="19"
    viewBox="0 0 312 19"
    fill="none"
    class=" h-auto w-[100%]"
    xmlns="http://www.w3.org/2000/svg"
  >
<title>Anderson Productions</title>
  <path
    d="M85.6897 18.5005C84.126 18.5005 82.8127 18.2809 81.7498 17.8417C80.6868 17.3937 79.8918 16.7436 79.3647 15.8915C78.8376 15.0306 78.5741 13.9808 78.5741 12.7422V11.7275H83.0016V12.6895C83.0016 13.3834 83.2168 13.9061 83.6473 14.2575C84.0865 14.6089 84.7673 14.7846 85.6897 14.7846C86.5945 14.7846 87.2622 14.6484 87.6926 14.3761C88.1318 14.1038 88.3514 13.7085 88.3514 13.1902V12.9398C88.3514 12.5621 88.2065 12.2546 87.9166 12.0174C87.6355 11.7715 87.2753 11.5782 86.8361 11.4376C86.4056 11.2971 85.7908 11.1302 84.9913 10.9369C83.7087 10.647 82.6458 10.344 81.8025 10.0277C80.9592 9.71146 80.23 9.20194 79.6151 8.49917C79.0002 7.7964 78.6927 6.84326 78.6927 5.63976V5.24445C78.6927 4.1288 78.9694 3.18005 79.5228 2.39822C80.0763 1.61638 80.8757 1.02341 81.9211 0.619319C82.9664 0.20644 84.2227 0 85.6897 0C87.1919 0 88.4613 0.219617 89.4979 0.65885C90.5432 1.0893 91.3382 1.73058 91.8829 2.58269C92.4275 3.42602 92.6998 4.46261 92.6998 5.69247V6.7071H88.2856V5.74518C88.2856 5.06876 88.0747 4.56364 87.6531 4.22982C87.2402 3.88722 86.5858 3.71592 85.6897 3.71592C85.0836 3.71592 84.5916 3.77741 84.2139 3.90039C83.8449 4.0146 83.5726 4.19029 83.3969 4.42747C83.2212 4.65588 83.1334 4.93699 83.1334 5.2708V5.52117C83.1334 5.89891 83.2783 6.21076 83.5682 6.45673C83.8581 6.69392 84.2183 6.88718 84.6487 7.03652C85.0879 7.17708 85.7029 7.33959 86.4935 7.52407C87.7848 7.81397 88.8522 8.11704 89.6955 8.43329C90.5388 8.74075 91.2679 9.24148 91.8829 9.93546C92.4978 10.6295 92.8053 11.5738 92.8053 12.7685V13.177C92.8053 14.2927 92.5198 15.2502 91.9488 16.0496C91.3778 16.849 90.5608 17.4595 89.4979 17.8812C88.4349 18.2941 87.1655 18.5005 85.6897 18.5005Z"
    fill="currentColor"></path>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M0.697998 18.2106L6.33777 0.289894H11.5558L17.1956 18.2106H12.6891L11.8705 15.5093H6.03128L5.20453 18.2106H0.697998ZM8.99951 5.62658L10.7292 11.7934H7.16437L8.8941 5.62658H8.99951Z"
    fill="currentColor"></path>
  <path
    d="M22.3083 18.2106L22.2688 7.58996H22.3478L28.8309 18.2106H32.9685V0.289894H28.765L28.7914 10.7788H28.7255L22.2292 0.289894H18.0916V18.2106H22.3083Z"
    fill="currentColor"></path>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M45.9874 1.00145C44.8981 0.52708 43.5891 0.289894 42.0606 0.289894H34.721V18.2106H42.0606C43.5891 18.2106 44.8981 17.969 45.9874 17.4859C47.0854 17.0027 47.9288 16.2516 48.5173 15.2326C49.1059 14.2136 49.4002 12.9179 49.4002 11.3454V7.02335C49.4002 5.48603 49.1059 4.21664 48.5173 3.21519C47.9288 2.21374 47.0854 1.47582 45.9874 1.00145ZM43.576 14.0072C43.1016 14.2268 42.4691 14.3366 41.6785 14.3366H39.0958V4.16393H41.6785C42.4603 4.16393 43.0928 4.27374 43.576 4.49336C44.0591 4.70419 44.4061 5.02483 44.6169 5.45528C44.8365 5.88573 44.9464 6.44356 44.9464 7.12876V11.24C44.9464 11.9515 44.8365 12.5357 44.6169 12.9925C44.4061 13.4405 44.0591 13.7788 43.576 14.0072Z"
    fill="currentColor"></path>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M71.274 0.289894C72.5917 0.289894 73.6898 0.487549 74.5683 0.88286C75.4556 1.27817 76.1188 1.87114 76.558 2.66176C77.006 3.45238 77.23 4.44065 77.23 5.62658V7.53725C77.23 8.69683 77.006 9.67632 76.558 10.4757C76.1296 11.247 75.488 11.8343 74.6332 12.2377L77.5594 18.2106H72.9343L70.5703 12.8739H67.8744V18.2106H63.4996V0.289894H71.274ZM70.8787 9.23708C71.5727 9.23708 72.0735 9.08774 72.3809 8.78906C72.6971 8.4816 72.8553 8.00284 72.8553 7.35277V5.94283C72.8553 5.28398 72.7015 4.80961 72.3941 4.51971C72.0867 4.22982 71.5815 4.08487 70.8787 4.08487H67.8744V9.23708H70.8787Z"
    fill="currentColor"></path>
  <path
    d="M130.434 10.7788L123.938 0.289894H119.801V18.2106H124.017L123.978 7.58996H124.057L130.54 18.2106H134.677V0.289894H130.474L130.5 10.7788H130.434Z"
    fill="currentColor"></path>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M149.291 13.2429C150.608 13.2429 151.706 13.0452 152.585 12.6499C153.472 12.2458 154.135 11.6485 154.575 10.8579C155.023 10.0584 155.247 9.06578 155.247 7.87985V5.66611C155.247 4.46261 155.023 3.46555 154.575 2.67493C154.135 1.87553 153.472 1.27817 152.585 0.88286C151.706 0.487549 150.608 0.289894 149.291 0.289894H141.516V18.2106H145.891V13.2429H149.291ZM150.411 8.9999C150.103 9.29858 149.598 9.44792 148.895 9.44792H145.891V4.08487H148.895C149.607 4.08487 150.112 4.22982 150.411 4.51971C150.718 4.80961 150.872 5.28837 150.872 5.95601V7.55043C150.872 8.20928 150.718 8.69243 150.411 8.9999Z"
    fill="currentColor"></path>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M167.686 0.88286C166.807 0.487549 165.709 0.289894 164.392 0.289894H156.617V18.2106H160.992V12.8739H163.688L166.052 18.2106H170.677L167.751 12.2377C168.605 11.8343 169.247 11.2469 169.676 10.4757C170.124 9.67632 170.348 8.69683 170.348 7.53725V5.62658C170.348 4.44065 170.124 3.45238 169.676 2.66176C169.236 1.87114 168.573 1.27817 167.686 0.88286ZM165.498 8.78906C165.191 9.08774 164.69 9.23708 163.996 9.23708H160.992V4.08487H163.996C164.699 4.08487 165.204 4.22982 165.512 4.51971C165.819 4.80961 165.973 5.28398 165.973 5.94283V7.35277C165.973 8.00284 165.815 8.4816 165.498 8.78906Z"
    fill="currentColor"></path>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M204.946 18.2106C206.474 18.2106 207.783 17.969 208.873 17.4859C209.971 17.0027 210.814 16.2516 211.403 15.2326C211.991 14.2136 212.286 12.9179 212.286 11.3454V7.02335C212.286 5.48603 211.991 4.21664 211.403 3.21519C210.814 2.21374 209.971 1.47582 208.873 1.00145C207.783 0.52708 206.474 0.289894 204.946 0.289894H197.606V18.2106H204.946ZM206.461 14.0072C205.987 14.2268 205.354 14.3366 204.564 14.3366H201.981V4.16393H204.564C205.346 4.16393 205.978 4.27374 206.461 4.49336C206.945 4.70419 207.292 5.02483 207.502 5.45528C207.722 5.88573 207.832 6.44356 207.832 7.12876V11.24C207.832 11.9515 207.722 12.5357 207.502 12.9925C207.292 13.4405 206.945 13.7788 206.461 14.0072Z"
    fill="currentColor"></path>
  <path
    d="M216.726 17.7363C217.798 18.2458 219.138 18.5005 220.745 18.5005C222.344 18.5005 223.679 18.2458 224.751 17.7363C225.832 17.2267 226.64 16.4669 227.176 15.4566C227.711 14.4376 227.979 13.1726 227.979 11.6617V0.289894H223.657V11.4904C223.657 12.1756 223.552 12.751 223.341 13.2165C223.139 13.6733 222.818 14.0203 222.379 14.2575C221.949 14.4859 221.404 14.6001 220.745 14.6001C220.086 14.6001 219.542 14.4859 219.111 14.2575C218.681 14.0203 218.36 13.6733 218.149 13.2165C217.939 12.751 217.833 12.1756 217.833 11.4904V0.289894H213.511V11.6617C213.511 13.1726 213.779 14.4376 214.315 15.4566C214.851 16.4669 215.655 17.2267 216.726 17.7363Z"
    fill="currentColor"></path>
  <path
    d="M232.631 17.7099C233.747 18.237 235.099 18.5005 236.689 18.5005C238.244 18.5005 239.575 18.2458 240.682 17.7363C241.798 17.218 242.645 16.4581 243.225 15.4566C243.814 14.4464 244.108 13.2165 244.108 11.7671V10.6338H239.72V11.6617C239.72 12.2766 239.61 12.8037 239.391 13.2429C239.171 13.6821 238.833 14.0203 238.376 14.2575C237.928 14.4859 237.37 14.6001 236.703 14.6001C235.71 14.6001 234.954 14.3322 234.436 13.7963C233.918 13.2517 233.659 12.4698 233.659 11.4508V6.91793C233.659 5.94283 233.918 5.19613 234.436 4.67784C234.954 4.15954 235.71 3.90039 236.703 3.90039C237.37 3.90039 237.928 4.0146 238.376 4.243C238.824 4.46261 239.158 4.78325 239.378 5.20492C239.606 5.6178 239.72 6.11852 239.72 6.7071V7.84032H244.108V6.60168C244.108 5.19613 243.814 3.99703 243.225 3.00436C242.645 2.01169 241.798 1.26499 240.682 0.764266C239.575 0.254755 238.244 0 236.689 0C235.099 0 233.747 0.259148 232.631 0.777443C231.515 1.29574 230.663 2.0644 230.075 3.08342C229.495 4.09366 229.205 5.33669 229.205 6.81251V11.5431C229.205 13.054 229.495 14.3278 230.075 15.3644C230.663 16.401 231.515 17.1828 232.631 17.7099Z"
    fill="currentColor"></path>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M267.313 17.7099C268.481 18.237 269.891 18.5005 271.543 18.5005C273.185 18.5005 274.591 18.237 275.759 17.7099C276.928 17.174 277.819 16.3746 278.434 15.3117C279.049 14.24 279.357 12.9179 279.357 11.3454V7.03652C279.357 5.4992 279.049 4.20347 278.434 3.14931C277.819 2.09514 276.928 1.30892 275.759 0.790621C274.591 0.26354 273.185 0 271.543 0C269.891 0 268.481 0.26354 267.313 0.790621C266.153 1.30892 265.266 2.09514 264.651 3.14931C264.036 4.20347 263.729 5.4992 263.729 7.03652V11.3454C263.729 12.9179 264.036 14.24 264.651 15.3117C265.266 16.3746 266.153 17.174 267.313 17.7099ZM273.374 14.2312C272.873 14.4771 272.263 14.6001 271.543 14.6001C270.822 14.6001 270.212 14.4771 269.711 14.2312C269.219 13.9764 268.841 13.6031 268.578 13.1111C268.314 12.6104 268.182 11.9867 268.182 11.24V7.12876C268.182 6.4172 268.31 5.82424 268.565 5.34987C268.828 4.86671 269.21 4.50654 269.711 4.26935C270.212 4.02338 270.822 3.90039 271.543 3.90039C272.263 3.90039 272.873 4.02338 273.374 4.26935C273.875 4.50654 274.253 4.86671 274.507 5.34987C274.771 5.82424 274.903 6.4172 274.903 7.12876V11.24C274.903 11.9867 274.771 12.6104 274.507 13.1111C274.253 13.6031 273.875 13.9764 273.374 14.2312Z"
    fill="currentColor"></path>
  <path
    d="M284.944 18.2106L284.904 7.58996H284.983L291.466 18.2106H295.604V0.289894H291.4L291.427 10.7788H291.361L284.865 0.289894H280.727V18.2106H284.944Z"
    fill="currentColor"></path>
  <path
    d="M300.163 17.8417C301.226 18.2809 302.539 18.5005 304.103 18.5005C305.579 18.5005 306.848 18.2941 307.911 17.8812C308.974 17.4595 309.791 16.849 310.362 16.0496C310.933 15.2502 311.219 14.2927 311.219 13.177V12.7685C311.219 11.5738 310.911 10.6295 310.296 9.93546C309.681 9.24148 308.952 8.74075 308.109 8.43329C307.265 8.11704 306.198 7.81397 304.907 7.52407C304.116 7.33959 303.501 7.17708 303.062 7.03652C302.632 6.88718 302.271 6.69392 301.981 6.45673C301.692 6.21076 301.547 5.89891 301.547 5.52117V5.2708C301.547 4.93699 301.635 4.65588 301.81 4.42747C301.986 4.19029 302.258 4.0146 302.627 3.90039C303.005 3.77741 303.497 3.71592 304.103 3.71592C304.999 3.71592 305.653 3.88722 306.066 4.22982C306.488 4.56364 306.699 5.06876 306.699 5.74518V6.7071H311.113V5.69247C311.113 4.46261 310.841 3.42602 310.296 2.58269C309.751 1.73058 308.957 1.0893 307.911 0.65885C306.875 0.219617 305.605 0 304.103 0C302.636 0 301.38 0.20644 300.334 0.619319C299.289 1.02341 298.49 1.61638 297.936 2.39822C297.383 3.18005 297.106 4.1288 297.106 5.24445V5.63976C297.106 6.84326 297.413 7.7964 298.028 8.49917C298.643 9.20194 299.372 9.71146 300.216 10.0277C301.059 10.344 302.122 10.647 303.405 10.9369C304.204 11.1302 304.819 11.2971 305.249 11.4376C305.689 11.5782 306.049 11.7715 306.33 12.0174C306.62 12.2546 306.765 12.5621 306.765 12.9398V13.1902C306.765 13.7085 306.545 14.1038 306.106 14.3761C305.675 14.6484 305.008 14.7846 304.103 14.7846C303.181 14.7846 302.5 14.6089 302.061 14.2575C301.63 13.9061 301.415 13.3834 301.415 12.6895V11.7275H296.987V12.7422C296.987 13.9808 297.251 15.0306 297.778 15.8915C298.305 16.7436 299.1 17.3937 300.163 17.8417Z"
    fill="currentColor"></path>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M172 6.74664C172 3.02057 175.021 0 178.747 0H189.991C193.717 0 196.738 3.02057 196.738 6.74664V11.2444C196.738 14.9705 193.717 17.991 189.991 17.991H178.747C175.021 17.991 172 14.9705 172 11.2444V6.74664ZM176.498 6.74664C176.498 5.50464 177.505 4.49774 178.747 4.49774H189.991C191.233 4.49774 192.24 5.50464 192.24 6.74664V11.2444C192.24 12.4864 191.233 13.4933 189.991 13.4933H178.747C177.505 13.4933 176.498 12.4864 176.498 11.2444V6.74664Z"
    fill="currentColor"></path>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M100.747 0C97.0206 0 94 3.02057 94 6.74664V11.2444C94 14.9705 97.0206 17.991 100.747 17.991H111.991C115.717 17.991 118.738 14.9705 118.738 11.2444V6.74664C118.738 3.02057 115.717 0 111.991 0H100.747ZM100.747 4.49774C99.5046 4.49774 98.4977 5.50464 98.4977 6.74664V11.2444C98.4977 12.4864 99.5046 13.4933 100.747 13.4933H111.991C113.233 13.4933 114.24 12.4864 114.24 11.2444V6.74664C114.24 5.50464 113.233 4.49774 111.991 4.49774H100.747Z"
    fill="currentColor"></path>
  <path
    d="M62.0765 0.289894H50.7706V18.2106H62.116V14.4684H55.1454V10.9106H61.5889V7.31324H55.1454V4.01899H62.0765V0.289894Z"
    fill="currentColor"></path>
  <path
    d="M244.661 4.16393H248.522V18.2106H252.897V4.16393H256.718V0.289894H244.661V4.16393Z"
    fill="currentColor"></path>
  <path d="M262.358 0.289894H257.983V18.2106H262.358V0.289894Z" fill="currentColor"
  ></path>
</svg>
</div>
