---
interface Props {
  nav_pos: "left" | "right";
  bg: "white" | "black";
}
const { nav_pos, bg } = Astro.props;
import Logo from "./Logo.astro";
---

<nav
  class={`static md:fixed w-[100vw] ml-[5vw] z-30 ${nav_pos === "left" ? "justify-end" : "justify-start"} `}
  style={{
    display: 'flex',
    justifyContent: nav_pos === "left" ? "flex-start" : "flex-end",
    color: bg === "black" ? "#EFF1ED" : "#101211",
    }}
>
  <a
    href="/"
    class="px-3 py-8 nav-logo flex justify-center"
    style={{ width: '100%' }}
  >
    <Logo />
  </a>
</nav>
